mat-grid-tile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    text-align: center;
  }
  
  
  .peli-pic {
    width: auto;
    padding: 10px;
    height: 100px;
  }
  
  .peli-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  
  